# Virtual environment
env/
.env

# IDE settings
.vscode/settings.json

# OS specific files
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*$py.class

*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
__pycache__/

# Vectore database
**/*.parquet