# Virtual environment
env/
.env
new_env/
.new_env

# IDE settings
.vscode/settings.json

# OS specific files
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*$py.class

*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
__pycache__/

# Vectore database
**/.alphageist/

# WSL2 Files
*:Zone.Identifier

# Build folders 
temp/**
build/
dist/

# Log files
*.log

# tufup
.tufup-repo-config

# LSP Configs
pyrightconfig.json
