python-dotenv>=1.0.1
platformdirs>=4.2.0
tufup>=0.7.1
PyQt6>=6.6.1
langchain>=0.1.14
qdrant-client>=1.8.2
python-pptx>=0.6.23
openai>=1.16.1
pydantic~=1.0
tiktoken>=0.6.0
chardet>=5.2.0
pytest>=8.1.1
unstructured==0.7.6
networkx>=3.2.1
pandas>=2.2.1
docx2txt>=0.8
pypdf>=4.1.0
python-magic==0.4.15 # If higher, than can't parse xlsx
langchain-openai>=0.1.1
